/gradle
/.gradle
/local.properties
/.idea
.idea/
.DS_Store
/build
/captures
LocaliZone.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
app/build.gradle
app/proguard-rules.pro
.idea/gradle.xml
.idea/misc.xml
app/src/main/java/com/example/user/localizone/HttpRequest.java
app/app.iml
.idea/*
