/gradle
/local.properties
/.idea
.idea/
.DS_Store
/build
/captures
LocaliZone.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
app/build.gradle
app/proguard-rules.pro
.gradle/
*.iml
